<mat-toolbar class="toolbar w-full">
  <img class="image" src="/assets/images/linkedin-logo.png" alt="linkedin-logo">
  <div class="search">
    <input type="text" placeholder="Pesquisar">
  </div>
  <div class="section-icons">
    <div class="navigationButton">
        <fa-icon class="icons" [icon]="icons.home"></fa-icon>
        <span class="span">Início</span>
    </div>
    <div class="navigationButton">
        <fa-icon class="icons" [icon]="icons.network"></fa-icon>
        <span class="span">Minha rede</span>
      </div>
    <div class="navigationButton">
        <fa-icon class="icons" [icon]="icons.jobs"></fa-icon>
        <span class="span">Vagas</span>
    </div>
    <div class="navigationButton">
        <fa-icon class="icons" [icon]="icons.messages"></fa-icon>
        <span class="span">Mensagens</span>
    </div>
    <div class="navigationButton">
        <fa-icon class="icons" [icon]="icons.notification"></fa-icon>
        <span class="span">Notificações</span>
    </div>
    <div class="navigationButton">
        <img class="profile-image" src="/assets/images/profile.jpg" alt="profile-picture">
        <span class="span">Eu</span>
    </div>
    <div class="navigationButton border">
        <fa-icon class="icons profile-image" [icon]="icons.business"></fa-icon>
        <span class="span">Para negócios</span>
    </div>
    <div class="navigationButton">
      <a class="link" href="https://www.linkedin.com/premium/" target="_blank">
        Experimente Premium por BRL0.
      </a>
    </div>
  </div>
</mat-toolbar>
