<div>
  <mat-card class="w-full flex">
    <div class="languages flex justify-between p-4">
      <div class="language__info flex flex-col w-full">
        <span class="text-lg font-bold">Idioma do perfil</span>
        <span class="text-gray-500 font-normal">Português</span>
      </div>
      <div class="edit__language cursor-pointer">
        <fa-icon class="text-lg text-zinc-600" [icon]="icons.pencil"></fa-icon>
      </div>
    </div>

    <hr class="mr-4 ml-4">

    <div class="public__profile flex justify-between p-4">
      <div class="profile__info flex flex-col w-full">
        <span class="text-lg font-bold">Public profile & URL</span>
        <span class="text-gray-500 font-normal">www.linkedin.com/in/erikbezerra</span>
      </div>
      <div class="edit__profile cursor-pointer">
        <fa-icon class="text-lg text-zinc-600" [icon]="icons.pencil"></fa-icon>
      </div>
    </div>
  </mat-card>
</div>
