.principal-profile {
  display: flex;
  width: 800px;
}

.background-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  // min-height: 201px;
  max-height: 201px;
}

.edit__profile {
  width: 600px;
  margin-left: 190px;
}

.edit__pencil {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
}

.edit__pencil:hover {
  background: #ebeaea;
  transition: 0.5s;
}

.profile-image {
  margin-top: -110px;
  margin-left: 30px;
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: 4px solid white;
}

.info__user {
  width: 700px;
  margin-left: 30px;
}

.button__change:hover {
  background-color: rgb(19, 49, 133);
  transition: 0.5s;
}

.bt__add:hover {
  background-color: rgba(29, 104, 216, 0.151);
  transition: 0.05s;
}

.bt__plus:hover {
  background-color: rgba(127, 128, 107, 0.144);
}

.button__change__border:hover {
  outline: 2px solid;
  outline-offset: -2px;
}

.experience-information {
  width: 250px;
  flex-direction: column;
}

.exp__texts {
  font-size: 200;
  font-weight: 600;
}

.informations, .recruiters__info {
  cursor: pointer;
}

.edit__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.edit__info:hover {
  background: #4b4b4b25;
  transition: 0.5s;
}
