<div>
  <mat-card class="principal-profile">
    <div>
      <img class="background-image" src="/assets/images/background-image.jpeg" alt="Foto de capa">
    </div>
    <div class="background-profile-image">
      <img class="profile-image" src="/assets/images/profile.jpg" alt="Foto de perfil">
    </div>
    <div class="profile-informations">
      <div class="title">
        <h1>Erik Bezerra</h1>
      </div>
      <div class="subTitle">
        <p>Estagiário em Dev Software @F13Tecnologia | Java | Angular | Spring Boot | PostgreSQL | CSS | Git</p>
      </div>
    </div>
    <div class="experience-information">
      <p>F13 Tecnologia</p>
      <p>Unifametro</p>
    </div>
  </mat-card>
</div>

