.principal-profile {
  display: flex;
  border-radius: 5px;
  margin-left: 400px;
  margin-top: 20px;
  width: 805px;
}

.background-image {
  // width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 201px;
  max-height: 201px;
}

.background-profile-image {
  // width: 160px;
  // height: 160px;
  // box-sizing: border-box;
  // border-radius: 49.9%;
  .profile-image {
    margin-top: -110px;
    margin-left: 30px;
    height: 152px;
    width: 152px;
    border-radius: 50%;
    border: 4px solid white;
  }
}

.profile-informations {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

    .title {
      margin: 0;
    }
}

.experience-information {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
