<div>
  <mat-card class="principal-profile">
    <div>
      <img class="background-image" src="/assets/images/background-image.jpeg" alt="Foto de capa">
    </div>
    <div class="background-profile-image">
      <img class="profile-image" src="/assets/images/profile.jpg" alt="Foto de perfil">
      <div class="edit__profile flex justify-end ml-20 -mt-8">
        <div class="edit__pencil flex justify-center items-center">
          <fa-icon class="text-2xl text-zinc-600" [icon]="icons.pencil"></fa-icon>
        </div>
      </div>
    </div>
    <div class="profile-informations flex">
      <div class="info__user flex flex-col">
        <span class="info__title text-2xl font-semibold">Erik Bezerra</span>
        <span class="info__subtitile text-base">Estagiário em Dev Software @F13Tecnologia | Java | Angular | Spring Boot | PostgreSQL | CSS | Git</span>
        <div class="info__additional mt-1 flex  items-center">
          <span class="adt__location text-zinc-500">Fortaleza, Ceará, Brasil <span>·</span> </span>
          <span class="adt__link font-bold ml-1 textColor__blue">Informações de contato</span>
        </div>
          <span class="adt__link font-bold mt-1 textColor__blue">+ de 500 conexões</span>
        <div class="profile__buttons mt-2">
          <button class="buttonBg__darkBlue bg-blue-700 text-white text-base font-semibold rounded-full w-48 p-1 mr-2">Tenho interesse em...</button>
          <button class="buttonBorder__thicken buttonBg__blue w-56 p-1 mr-2">Adicionar seção do perfil</button>
          <button class="buttonBorder__thicken buttonBg__gray w-20 p-1">Mais</button>
        </div>
      </div>
      <div class="experience-information flex mr-8">
        <div class="flex flex-row items-center">
          <img class="w-9 mr-2" src="/assets/images/f13_tecnologia_logo.jpeg" alt="Logo F13 Tecnologia">
          <span class="exp__texts adt__link">F13 Tecnologia</span>
        </div>
        <div class="flex flex-row items-center mt-2">
          <img class="w-9 mr-2" src="/assets/images/unifametro_logo.jpeg" alt="Logo Unifametro">
          <span class="exp__texts adt__link">Unifametro</span>
        </div>
      </div>
    </div>
    <div class="profile__services flex justify-between m-7 gap-3">
      <div class="services__info flex w-2/4 h-24 rounded-lg bg-slate-300 border border-solid border-gray-200">
        <div class="informations relative w-full p-2 flex">
          <div class="texts__info w-full flex flex-col">
            <span class="font-extrabold">Prestação de serviços</span>
            <span class="font-normal">Desenvolvimento web</span>
            <span class="show__details adt__link font-extrabold textColor__blue">Exibir detalhes</span>
          </div>
          <div class="edit__info absolute top-1 right-1">
            <fa-icon class="text-sm text-zinc-600" [icon]="icons.pencil"></fa-icon>
          </div>
        </div>
      </div>
      <div class="services__jobs w-2/4 h-24 rounded-lg border border-solid border-gray-200">
        <div class="recruiters__info relative w-full p-2 flex">
          <div class="recruiters__texts flex flex-wrap">
            <span><b>Demonstre aos recrutadores que você está buscando emprego</b>;você controla quem pode ver isso.</span>
            <span class="show__details adt__link font-extrabold textColor__blue">Comece já</span>
          </div>
          <div class="edit__info absolute top-1 right-1">
            <fa-icon class="text-base text-zinc-600" [icon]="icons.close"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

