<header>
  <app-toolbar></app-toolbar>
</header>

<div class="main__menu">
  <div class="principal__view">
    <app-profile-card></app-profile-card>
    <app-profile-analysis></app-profile-analysis>
    <app-profile-resources></app-profile-resources>
    <footer class="principalView__footer">
      <span>aaaaaaaaa</span>
      <span>bbbbbbbbb</span>
      <span>ccccccccc</span>
      <span>ddddddddd</span>
      <span>eeeeeeeee</span>
    </footer>
  </div>
  <div class="aside__menu">
    <app-profile-localization></app-profile-localization>
    <app-announcement></app-announcement>
    <app-network></app-network>
  </div>

</div>

