<div>
  <mat-card class="network">
    <div class="content p-5">
      <div class="network__title">
        <span class="text-base font-bold">As pessoas também viram</span>
      </div>
      <div class="people__profile w-full justify-center flex mt-2">
        <img class="profile__picture" src="./assets/images/profile.jpg" alt="Foto de perfil">
        <div class="profile__info flex flex-col ml-2 max-w-48">
          <span class="adt__link text-base font-bold">Ryan Teixeira de Sousa</span>
          <span class="text-gray-500">· 2º</span>
          <span class="jobs__info">Desenvolvedor Fullstack | TOTVS RM-TBC | Banco de Dados</span>
          <div class="people__interaction mt-2">
            <button class="buttonBg__gray buttonBorder__thicken w-28 p-1">
              Ver perfil
            </button>
          </div>
        </div>
      </div>
      <hr class="mt-4">
      <div class="people__profile flex mt-3">
        <img class="profile__picture" src="./assets/images/profile.jpg" alt="Foto de perfil">
        <div class="profile__info flex flex-col ml-2 max-w-48">
          <span class="adt__link text-base font-bold">Marcelo André Soares</span>
          <span class="text-gray-500">· 1º</span>
          <span class="jobs__info text">Proprietário, F13 Tecnologia</span>
          <div class="people__interaction mt-2">
            <button class="buttonBg__gray buttonBorder__thicken w-44 p-1">
              <fa-icon class="text-sm mr-1" [icon]="icons.sendMessage"></fa-icon> Enviar mensagem
            </button>
          </div>
        </div>
      </div>
      <hr class="mt-4">
      <div class="people__profile flex mt-3">
        <img class="profile__picture" src="./assets/images/profile.jpg" alt="Foto de perfil">
        <div class="profile__info flex flex-col ml-2 max-w-48">
          <span class="adt__link text-base font-bold">Manoel Rogildo Martins de Oliveira</span>
          <span class="text-gray-500">· 3º</span>
          <span class="jobs__info">Desenvolvedor em Formação | Especializando em Análise e Desenvolvimento de Sistema</span>
          <div class="people__interaction mt-2">
            <button class="buttonBg__gray buttonBorder__thicken w-32 p-1">
              <fa-icon class="text-sm mr-1 mb-1" [icon]="icons.connect"></fa-icon> Conectar
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
