.main__menu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  column-gap: 20px;
}


.principal__view,
.aside__menu {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.principalView__footer {
  display: flex;
  flex-direction: row;
  gap: 110px;
}
