@import "toolbar.scss";
@import "flex.scss";
@import "material.scss";


.w-full{
  width: 100%;
}

.showAll {
  display: flex;
  justify-content: center;
  padding: 8px;
    span {
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgb(75 85 99);
      font-weight: 600;
    }
}

.showAll:hover {
  background-color: rgba(192, 192, 192, 0.233);
  cursor: pointer;
  transition: 0.3s;
}

.textColor__blue {
  color: rgb(29 78 216);
}

.adt__link:hover {
  cursor: pointer;
  color: rgb(29 78 216);
  text-decoration: underline;
}

.jobs__info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.buttonBg__darkBlue:hover {
  background-color: rgb(19, 49, 133);
  transition: 0.5s;
}

.buttonBg__green:hover {
  background-color: rgb(19, 133, 44);
  transition: 0.5s;
}

.buttonBg__blue:hover {
  background-color: rgba(29, 104, 216, 0.151);
  transition: 0.05s;
}

.buttonBg__blue {
  background-color: rgb(255 255 255);
  color: rgb(29 78 216);
  font-size: 16px;
  line-height: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(29 78 216);
  font-weight: 600;
  border-radius: 9999px;
}

.buttonBg__gray {
  background-color: rgb(255 255 255);
  color: rgb(107 114 128);
  font-size: 16px;
  line-height: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(107 114 128);
  font-weight: 600;
  border-radius: 9999px;
}

.buttonBg__gray:hover {
  background-color: rgba(127, 128, 107, 0.144);
}

.buttonBorder__thicken:hover {
  outline: 2px solid;
  outline-offset: -2px;
}

body {
  background-color: rgb(243, 242, 237) !important;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif !important;
}



